{#
/**
 * @file
 * Default theme implementation to display search results page.
 *
 * Available variables:
 * - gcse_id: ID of Google Custom Search Engine.
 * - scope: 'site' or 'ocha-wide'.
 * - toggle_link_path: relative url of the other search page.
 * - toggle_link_site_text: text for link to the site search page.
 * - toggle_link_ocha_text: text for link to the OCHA-wide search page.
 * - search_text: Custom explanatory text for the search page.
 */
#}

{{ attach_library('common_design/cd-tabs') }}
{{ attach_library('common_design_subtheme/google-cse') }}

<div class="gcse-results-page">
  <script async defer src="https://cse.google.com/cse.js?cx={{ gcse_id }}"></script>

  <ul class="tabs ocha-search-toggle">
    <li{% if scope == 'site' %} class="is-active"{% endif %}>
      <a href="{% if scope == 'site' %}#{% else %}{{ toggle_link_path }}{% endif %}"{% if scope == 'site' %} class="is-active"{% endif %}>{{ toggle_link_site_text }}{% if scope == 'site' %} <span class="visually-hidden">(active tab)</span>{% endif %}</a>
    </li>
    <li{% if scope == 'ocha-wide' %} class="is-active"{% endif %}>
      <a href="{% if scope == 'ocha-wide' %}#{% else %}{{ toggle_link_path }}{% endif %}"{% if scope == 'ocha-wide' %} class="is-active"{% endif %}>{{ toggle_link_ocha_text }}{% if scope == 'ocha-wide' %} <span class="visually-hidden">(active tab)</span>{% endif %}</a>
    </li>
  </ul>

  <div class="gcse-searchbox-only" data-resultsUrl="{{ url('<current>') }}"></div>

  {% if search_text %}
  <p class="gcse-search-custom-text">{{ search_text }}</p>
  {% endif %}

  <div class="gcse-searchresults-only"></div>
</div>
